.content {
    padding: 0 50px;
    box-sizing: border-box;
    width: 100%;
}

.header {
    border-bottom: 1px solid #7cb2be;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 40px;
    justify-content: space-between;
    margin-bottom: 35px;
}

.search > *::before {
    outline-color: white !important;
    border-color: white !important;
}

.search > *::after {
    outline-color: #7cb2be !important;
    border-color: #7cb2be !important;
}

.search > * {
    color: white !important;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}

.threads {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 200px);
    box-sizing: border-box;
    padding: 10px;
}

.threads > * {
    cursor: pointer;
}

.none {
    text-align: center;
    color: #ffffff;
    font-size: 30px;
}

.button > *{
    color: #ffffff !important;
}

.buttons {
    display: flex;
    justify-content: space-between;
}