.container {
    width: 100%;
    height: 200px;
}

.bar {
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 0 50px;
}

.graphic {
    height: 150px;
    width: 100%;
    background-position-y: 700px;
}

.right {
    display: inline-flex;
    align-items: center;
}