.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    margin: 10px 0;
}

.input > *::before {
    outline-color: white !important;
    border-color: white !important;
}

.input > *::after {
    outline-color: #7cb2be !important;
    border-color: #7cb2be !important;
}

.input > * {
    color: white !important;
}

.input {
    margin: 10px;
}

.button > * {
    background-color: #439792 !important;
}
.button > *:hover {
    background-color: #4aa59f !important;
}

.button > * {
    color: white !important;
}

.button {
    margin-top: 10px;
}

.link {
    cursor: pointer;
    margin-top: 10px;
}