.container {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    margin: 10px 0;
}

.input, .button {
    margin: 10px;
}